[Unit]
Description=mqtt-server service
After=network.target

[Service]
WorkingDirectory=BASE_PATH
Type=simple
ExecStart=BASE_PATH/mqtt-server -config=config.json
ExecStop=/bin/kill -s SIGKILL $MAINPID
KillSignal=SIGUSR1

TimeoutSec=0
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target